# HPC-centric Hydra config preset.

defaults:
  - data_config: cafa_hpc
  - task: pf_agcn
  - model: pf_agcn_full
  - train@_here_: train_hpc_full
  - hpo: optuna_search
  - system: hpc_supercloud
  - _self_

experiment_name: "pfagcn_supercloud_test"

training:
  devices: 1
  accelerator: gpu
  precision: 16
  log_interval: 20
  num_nodes: 1
  default_root_dir: ${hydra:runtime.output_dir}

data_config:
  num_workers: 16
  pin_memory: true

evaluation:
  metric:
  - fmax
  - pr_auc_micro
  - pr_auc_macro
  val_interval: 1
  threshold_grid: [0.05, 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8]


hydra:
  run:
    dir: ${system.paths.results_root}/runs/${now:%Y%m%d-%H%M%S}
  job:
    chdir: true
  sweep:
    dir: ${system.paths.results_root}/sweeps/${now:%Y%m%d}
    subdir: ${now:%H%M%S}
